/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Apr-2018, 19:11:27
    Author     : user
*/

body {
    margin: 0;
    padding: 0;
    background-image:  url('../gambar/pstt.jpg');
    font-family: cambria;
    font-size: 18px;
    line-height: 200%;
    text-align:left;
}
.wrap{

  width: 1200px;
  margin:0 auto;
  box-shadow: 0px 0px 15px #ff9900;
  overflow: display;
}
h1 {
    margin: 0;
    padding: 0;
    font-size: 100px;
    color:  sienna;
    letter-spacing: 10px;
}

h3 {
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
    font-size: 18px;
}

h5 {
    margin: 0;
    padding: 0;
    color: blue;
    text-align: center;
}
/*mengatur ukuran box title*/


/*mengatur tulisan judul*/
.title p{
    
    line-height: 4px;
    font-size: 30px;
    color: black;
    font-family: fantasy;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 20px;
    text-shadow:5px 5px 5px skyblue;
 }  

#header img {
    width :1200px;
    margin: 0 auto;
    background-size: cover;
    padding: 0;
    display: block;
}

#menu {
    width: 1200px;
    height: 46px;
    background: #ff9900;
    margin: 0 auto;
    padding: 0;
   
}

#menu ul {
    margin: 0;
    padding-left: 20px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
    margin-left: 20px;
}

#menu a {
    display: block;
    padding: 3px 3px 3px 3px;
    border: none;
    border-radius: 10px;
}

#menu a:hover {
    background: #ff9900;
    padding: 3px 3px 3px 3px;
}

#menu img {
    margin: 0 auto;
    display: block;
    height: 40px;
    width: 40px;
}

#wrapper {
 
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    
}

#content {
   
    float: right;
    width: 900px;
    height: 900px;
    padding: 10px 0 0 10px;
    overflow: scroll;
    border: 1px dotted black;
    margin: auto;
}
#pala{
    font-size: 18px;
    font-weight: 100;
    padding-left: 10px;
    
    height: 30px;
    line-height: 30px;
    background: #d1d1d1;
}

.post {
    margin-left: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
   
        
}
.post ul{
    margin-left: 20px;
    padding-bottom: 30px;
    background-color: white;
        
}
.post .title {
    height: 50px;
    padding: 10px 0 20px 10px;
    border-left: 4px double #ffffff;
    border-right: 4px double #ffffff;
    color: #ffffff;
    background-color: #ff9900;
}

.post .meta {
    background-color: #ff9900;
    border-left: 4px double #ffffff;
    border-right: 4px double #ffffff;
    padding: 3px 0 3px 10px;
    text-align: left;
    font-family: Georgia, Arial, sans-serif;;
    font-size: 11px;
    font-style: italic;
    color: #ffffff;
}

.post .entry {
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    font-weight: 100;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    
}

#sidebar {
    text-align: center;
    float: left;
    width: 300px;
    margin: 0 auto;
    padding: 0px 50px 0px 0px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li ul {
    padding-bottom: 90px;
}

#sidebar li li {
    text-indent: 5px; /*mengatur jarak pada bagian setbar*/
    line-height: 40px; /*mengatur jarak bawah pada bagian setbar*/
    border-bottom-style: solid; /*membuat garis bawah pada bagian setbar*/
    border-color: #ff9900; /*mengatur warna pada garis bawah pada bagian setbar*/
    border-width: thick; /*mengatur ketebalan garis bawah pada bagian setbar*/
    position: relative;
}

#sidebar a {
    text-decoration: none;
    color: black;
}

#sidebar a:hover {
    color: #ffffff;
    background: #ff9900;
    padding: 5px 5px 5px 5px;
}

#footer {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    padding: 10px 0 25px 0;
    background: #ff9900;
    color: black;
}

#footer p {
    margin: 0;
    line-height: normal;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
#id{
    margin: 0px;
    padding: 90px;
    font-size: 90px;
}





* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form {
  margin: 0 auto;
  position: fixed;
  top: 35%;
  left: 50%;
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  width: 350px;
  padding: 20px;
  overflow: hidden;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: inherit;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
.form .forceColor {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.form:before {
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  background: inherit;
  left: -5%;
  right: 0;
  bottom: 0;
  top: -5%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.form.goAway {
    
  opacity: 0;
  -moz-transform: scale(0.6) translate3d(-50%, 0, 0);
  -ms-transform: scale(0.6) translate3d(-50%, 0, 0);
  -webkit-transform: scale(0.6) translate3d(-50%, 0, 0);
  transform: scale(0.6) translate3d(-50%, 0, 0);
  -moz-transition: -moz-transform 200ms ease-in-out, opacity 100ms linear;
  -o-transition: -o-transform 200ms ease-in-out, opacity 100ms linear;
  -webkit-transition: -webkit-transform 200ms ease-in-out, opacity 100ms linear;
  transition: transform 200ms ease-in-out, opacity 100ms linear;
  -moz-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  transition-delay: 600ms;
}
.form .topbar .spanColor {
  position: absolute;
  width: 0px;
  right: 20px;
  height: 43px;
  opacity: 0.2;
  background-color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
  -o-transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
  -webkit-transition: width 150ms ease-in-out, background-color 150ms ease-in-out, border 150ms ease-in-out;
  -webkit-transition-delay: 0s, 250ms, 250ms;
  transition: width 150ms ease-in-out, background-color 150ms ease-in-out 250ms, border 150ms ease-in-out 250ms;
}
.form .topbar .input {
  display: block;
  width: 100%;
  position: relative;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 1rem;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 25px;
  color: rgba(255, 255, 255, 0.4);
  padding: 10px 20px;
}
.form .topbar .input::-webkit-input-placeholder {
  color: white;
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: 200;
}
.form .topbar .input:focus {
  outline: none;
  color: white;
  border: 1px solid white;
}
.form .topbar .input.disabled:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.form .topbar .input:hover {
  border: 1px solid white;
}
.form .submit {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.2rem;
  
  font-weight: 200;
  display: block;
  color: white;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
}
.form .submit:focus {
  outline: none;
}
.form .submit:hover {
  color: white;
  border: 1px solid white;
}
.form .submit.recover {
  background: #FF2B4B;
  color: white !important;
  border: 1px solid white !important;
  transition: all 400ms linear;
}
